<div
  class="row bg-gradient bg-black align-items-center p-2"
  (click)="sendToEpisodes(index)"
>
  <div class="col-3">
    <img src="{{ link }}" class="img-fluid rounded whidth-img" alt="..." />
  </div>
  <div class="col-5 col-md-7">
    <p class="h5">{{ season }}</p>
    <p class="h6">{{ episodes }} Episódios</p>
  </div>
  <div class="col">
    <i class="bi bi-check2-circle" style="font-size: 1.5rem"></i>
  </div>
  <div class="col text-end text-md-center">
    <i class="bi bi-caret-right" style="font-size: 1.5rem"></i>
  </div>
</div>
