<div class="bg-gradient bg-black p-2 text-white">
  <app-header></app-header>
  @for (item of episodesSeason; track $index) {

  <div class="container mt-4 bg-gradient bg-black">
    <div class="row">
      <div class="col">
        <img src="{{ item.image }}" class="img-fluid rounded" alt="..." />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-10">
        <p class="h4 pt-2">{{ item.title }}</p>
      </div>
      <div class="col-2 align-icon">
        <i
          class="bi bi-check2-circle"
          style="font-size: 1.5rem"
          [ngStyle]="{ color: item.watched ? 'green' : 'white' }"
        ></i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="font-data-serie pt-2">{{ item.data }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="h6">
          {{ item.description }}
        </p>
      </div>
    </div>
  </div>
  }
</div>
