<app-header></app-header>
<div class="bg-gradient bg-black p-2 text-white">
  @for (item of episodesSeriesService.infosEpisodesSeries$(); track $index) {

  <div class="container mt-4 bg-gradient bg-black">
    <div class="row">
      <div class="col">
        <img src="{{ item.still_path }}" class="img-fluid rounded" alt="..." />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-10">
        <p class="h4 pt-2">{{ item.name }}</p>
      </div>
      <div class="col-2 align-icon">
        <!-- <i
          class="bi bi-check2-circle"
          style="font-size: 1.5rem"
          [ngStyle]="{ color: item.watched ? 'green' : 'white' }"
        ></i> -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="font-data-serie pt-2">{{ item.air_date }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="h6">
          {{ item.overview }}
        </p>
      </div>
    </div>
  </div>
  }
</div>
