.color-progress {
  background: linear-gradient(
    0deg,
    rgba(0, 142, 12, 1) 0%,
    rgba(16, 191, 20, 1) 45%,
    rgba(19, 205, 59, 1) 100%
  );
}

.display {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out; /* Suaviza a transição */
}
:host {
  transition: all 0.3s ease-in-out; /* Suaviza a transição */
  box-shadow: rgb(255 255 255) 0px 3px 8px;
}

.header-fixed {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgb(255 255 255) 0px 3px 8px;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease-in-out; /* Suaviza a transição */
}
.shadow {
  box-shadow: rgb(255 255 255) 0px 3px 8px;
}
