.drag-scroll {
  height: 50px;
  width: 100px;
}

.img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-color: white;
  border: solid;
  border-width: thin;
}

.te {
  display: flex;
  align-items: center;
}
