@if (infos.infosTvShow$(); as infosTvShow) {

<div class="container mt-4">
  <div class="row bg-gradient bg-black p-2">
    <div class="col-12 col-md-3 pb-2">
      <img
        src="{{ infosTvShow.poster_path }}"
        class="img-fluid rounded whidth-img"
        alt="..."
      />
    </div>
    <div class="col-12 col-md-9">
      <p class="h6">
        {{ infosTvShow.overview }}
      </p>
    </div>
  </div>
  <p class="h4 p-2">Temporadas</p>
  @for (item of infosTvShow.seasons; track $index) {
  <div>
    <app-seasons-shower
      [season]="item.name"
      [link]="item.poster_path"
      [episodes]="item.episode_count"
      [index]="$index"
    ></app-seasons-shower>
  </div>
  }
</div>
}
