<div class="container text-center mt-4">
  <div class="row">
    <div class="col">
      <img
        src="../../../assets/dragao_cover.jpg"
        class="img-fluid rounded"
        alt="..."
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="h1">Casa do Dragão</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="h6">House of Dragon</p>
    </div>
  </div>
</div>
<div class="container text-center mt-4 center">
  <div class="row color_actions p-3">
    <div class="col-4">
      <i class="bi bi-check2-circle"></i>
      <p class="h6">Assistido</p>
    </div>
    <div class="col-4">
      <i class="bi bi-card-checklist"></i>
      <p class="h6">Add a Lista</p>
    </div>
    <div class="col-4">
      <i class="bi bi-share"></i>
      <p class="h6">Compartilhar</p>
    </div>
  </div>
</div>
